
<html>

<body>
    <p><a href="/">Home</a></p>
    <p>Add a mood to the albums below:</p>
    <form method="POST" action="/albumoods" > 
        <fieldset style='height: 300px; overflow-y:auto'>
            <legend>Albums</legend>
            {% for n in albums %}
            <input type="checkbox" id="{{ n.id }}" name="{{ 'Q' ~ loop.index }}" value="{{ n.id }}">
            <label for="{{ 'Q' ~ loop.index }}">{{ n["name"] }}</label><br>
            {% endfor %}
        </fieldset>

        <fieldset style='height: 300px; overflow-y:auto'>
            <legend>Mood Options</legend>
            {% for n in moods %}
            <input type="radio" id="{{ n }}" name="select-album-mood" value="{{ n }}">
            <label for="{{ n }}">{{ n }}</label><br>
            {% endfor %}

        </fieldset>
        <p>Or (only one mood can be applied at a time!)</p>
        <input type="text" id="add-album-mood" name="add-album-mood">
        <label for="add-album-mood">Other</label><br>
        <input type="submit" value="Assign Mood">
    </form>

</body>
    
</html>