<html>
<style>
  body {
    font-size: 15pt;
    font-family: arial;
  }
</style>


<body>
  <h1>Welcome to Playlist Filter!</h1>

  <p><a href="register">Register</a></p>
  
  {% if 'username' in session %}
  <p><a href="logout">Logout</a></p>
  <p><a href="fill-home">Get data from Spotify.</a> Will only add data, not remove anything. Make a new account for a clean slate.</p>

  <div id="tracks">
  {% for n in tracks %}
  <p id="{{ n.id }}">{{ tracks[n].name }} - {% for a in tracks[n].artist %} {{ a }} {% endfor %}</p>
  {% endfor %}
  </div>

  <p>Add a friend</p>
  <form method="POST" action="/add-friend">
    <input type="text" id="friend-id" name="friend-id">
    <label for="friend-id">Spotify id (look at the URI of their profile for a 22-char string)</label><br>
    <input type="submit" value="Add friend">
  </form>
  {% else %}
  <p><a href="get-data">Login</a></p>
  {% endif %}
 
  <p>Intersection of results between filtering options, union of results within filering options</p>
  <p>i.e. "Alice" and "Bob" and "Hold the Girl" shows all songs on your playlists by (Alice OR Bob) AND on "Hold the Girl"</p>
  <form method="POST" action="/" id="filtering-form">
    <fieldset>
      <legend>Filtering Options</legend>
      <input type="radio" id="album" name="filter_option" value="album">
      <label for="album">Album</label><br>
      <input type="radio" id="liked-by" name="filter_option" value="liked-by">
      <label for="liked-by">Liked By</label><br>
      <input type="radio" id="playlist" name="filter_option" value="playlist">
      <label for="playlist">Playlist</label><br>
      <input type="radio" id="artist" name="filter_option" value="artist">
      <label for="artist">Artist</label><br>
      <input type="radio" id="mood" name="filter_option" value="mood">
      <label for="mood">Mood</label><br>
      <input type="radio" id="genre" name="filter_option" value="genre">
      <label for="genre">Genre</label><br>
    </fieldset>
    <fieldset id="album-options">
      {% for n in album_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'B' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="liked-by-options">
      {% for n in liked_by_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'L' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="playlist-options"> 
      {% for n in playlist_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'P' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="artist-options">
      {% for n in artist_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'R' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="mood-options">
      {% for n in mood_options %}
      <input type="checkbox" id="{{ n.name }}" name="{{ 'M' ~ loop.index }}" value="{{ n.name }}">
      <label for="{{ n.name }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="genre-options">
      {% for n in genre_options %}
      <input type="checkbox" id="{{ n.name }}" name="{{ 'G' ~ loop.index }}" value="{{ n.name }}">
      <label for="{{ n.name }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Submit">
  </form>

  <p>Make a new playlist with these songs</p>
  <form method="POST" action="/new-playlist">
    <input type="text" id="playlist-name" name="playlist-name">
    <label for="playlist-name">Name of your new playlist</label><br>
    <textarea id="playlist-description" name="playlist-description" rows="4" cols="50"></textarea>
    <label for="playlist-description">Description of your new playlist</label><br>
    <input type="submit" value="Make New Playlist">
  </form>

  <p>Pick an existing New Playlist to add current songs to:</p>
  <!-- In the server.py file we can take the playlist, read the data variable for the songs,
  and add them in the sql 
  -->
  {% for n in new_playlists %}
  <input>{{n}}</div>
  {% endfor %}
  <p> Pick a playlist to add to your Spotify:</p>
  <!-- current new_playlists here -> when one is added, create it and then remove it from new playlists-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="jquery.js"></script>
  <script>
    $(document).ready(function () {
      let options = ["album", "liked-by", "playlist", "artist", "mood", "genre"];
      options.forEach(function (option) {
        $("#"+option+"-options").hide();
      });
      $("#filtering-form").click(function () {
        options.forEach( function(option) {
          if ($("#"+option).is(":checked")) {
          $("#"+option+"-options").show();
          console.log("checked");
        } else {
          $("#"+option+"-options").hide();
          console.log("unchecked");
        }
        });
       
      });
      
    });
  </script>

</body>


</html>