<html>
<style>
  body {
    font-size: 15pt;
    font-family: arial;
  }
</style>


<body>
  <h1>Welcome to Playlist Filter!</h1>
  {% if 'username' in session %}
  <p><a href="logout">Logout</a></p>
  <p><a href="fill-home">Get data from Spotify.</a> Will only add data, not remove anything.</p>
  <p><a href="recommendations">Get recommendations based on mood</a></p>
  <p><a href="album-mood">Assign moods to your albums</a></p>
  
  <div style='max-height: 800px; overflow-y:auto; overflow-x:auto; max-width: 800px;'>
    <table border=1 id="tracks" >
      
      <th>Name</th>
      <th>Artist(s)</th>
      <th>Popularity ([0, 100])</th>
      <th>Duration (ms)</th>
      {% for n in tracks %}
      <tr>
        <td>{{ tracks[n].name }} </td>
        <td>{% for a in tracks[n].artist %} {{ a }} <br> {% endfor %}</td>
        <td>{{ tracks[n].popularity }}</td>
        <td>{{ tracks[n].duration }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>

  <p>Add a friend</p>
  <form method="POST" action="/add-friend">
    <input type="text" id="friend-id" name="friend-id">
    <label for="friend-id">Spotify id (look at the URI of their profile for a 22-char string)</label><br>
    <input type="submit" value="Add friend">
  </form>
  {% else %}
  <p><a href="get-data">Login</a></p>
  <p><a href="register">Register</a></p>
  {% endif %}

  <p>The output is found by first taking the intersection of results between filtering options and the union of results within filtering options.</p>
  <p>Then, those tracks have the popularity and duration constraints placed on them.</p>
  <p>i.e. "Alice" and "Bob" and "Hold the Girl" with popularity 50 to 20 shows all songs in the database by (Alice OR Bob) AND on "Hold the
    Girl" with 50 >= popularity >= 20</p>
  <p>Filtering options are all taken from your existing playlists or new Recommendations playlist.</p>
  <form method="POST" action="/" id="filtering-form">
    <fieldset>
      <legend>Filtering Options</legend>
      <input type="radio" id="album" name="filter_option" value="album">
      <label for="album">Album</label><br>
      <input type="radio" id="liked-by" name="filter_option" value="liked-by">
      <label for="liked-by">Liked By</label><br>
      <input type="radio" id="playlist" name="filter_option" value="playlist">
      <label for="playlist">Existing Playlist</label><br>
      <input type="radio" id="artist" name="filter_option" value="artist">
      <label for="artist">Artist</label><br>
      <input type="radio" id="mood" name="filter_option" value="mood">
      <label for="mood">Mood</label><br>
      <input type="radio" id="genre" name="filter_option" value="genre">
      <label for="genre">Genre</label><br>
      <input type="text" id="max-popularity" name="max-popularity">
      <label for="max-popularity">Maximum popularity (integer on [0, 100]</label>
      <input type="text" id="min-popularity" name="min-popularity">
      <label for="min-popularity">Minimum popularity (integer on [0, 100]</label><br>
      <input type="text" id="max-duration" name="max-duration">
      <label for="max-duration">Maximum duration (integer milliseconds) </label>
      <input type="text" id="min-duration" name="min-duration">
      <label for="min-duration">Minimum duration (integer milliseconds) </label><br>
    </fieldset>
    <fieldset id="album-options" style='height: 300px; overflow-y:auto'>
      {% for n in album_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'B' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="liked-by-options" style='height: 300px; overflow-y:auto'>
      {% for n in liked_by_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'L' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="playlist-options" style='height: 300px; overflow-y:auto'>
      {% for n in playlist_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'P' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="artist-options" style='height: 300px; overflow-y:auto'>
      {% for n in artist_options %}
      <input type="checkbox" id="{{ n.id }}" name="{{ 'R' ~ loop.index }}" value="{{ n.id }}">
      <label for="{{ n.id }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="mood-options" style='height: 300px; overflow-y:auto'>
      {% for n in mood_options %}
      <input type="checkbox" id="{{ n.name }}" name="{{ 'M' ~ loop.index }}" value="{{ n.name }}">
      <label for="{{ n.name }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <fieldset id="genre-options" style='height: 300px; overflow-y:auto'>
      {% for n in genre_options %}
      <input type="checkbox" id="{{ n.name }}" name="{{ 'G' ~ loop.index }}" value="{{ n.name }}">
      <label for="{{ n.name }}">{{ n["name"] }}</label><br>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Filter!">
  </form>

  
  <p>Choose mood(s) for selected songs</p>
  <form method="POST" action="/mood-to-filtered">
    <fieldset style='height: 300px; overflow-y:auto'>
      <legend>Mood Options</legend>
      {% for n in mood_options %}
      <input type="radio" id="{{ 'Check' ~ n.name }}" name="selected-mood" value="{{ n.name }}">
      <label for="{{ 'Check' ~ n.name }}">{{ n["name"] }}</label><br>
     
      {% endfor %}
    </fieldset>
    <input type="text" id="added-mood" name="added-mood">
    <label for="added-mood">Other</label><br>

  
    <div style="display: none">
      {% for n in tracks %}
      <input type="checkbox" id="{{ n }}" name="{{ 'T' ~ n }}" value="{{ n }}" checked></input>
      {% endfor %}
      <input type="text" id="playlist-name" name="playlist-name">
    </div>
    
    <input type="submit" value="Assign Mood">
  </form>


  <p>Start building a new playlist to add songs to</p>
  <form method="POST" action="/create-new-playlist">
    <input type="text" id="playlist-name" name="playlist-name">
    <label for="playlist-name">Name of your new playlist</label><br>
    <textarea id="playlist-description" name="playlist-description" rows="4" cols="50"></textarea>
    <label for="playlist-description">Description of your new playlist</label><br>
    <input type="submit" value="Create New Playlist">
  </form>

  <form method="POST" action="/filtered-to-new-playlist" id="filtering-form">
    <p>Add the retrieved songs to a new playlist:</p>
    <fieldset>
      <legend>Created Playlists</legend>
      {% for n in new_playlist_options %}
      <input type="radio" id="{{ loop.index }}" name="selected-new-playlist" value="{{ n.len ~ n.description ~ n.name }}">
      <label for="{{ n.len ~ n.description ~ n.name }}">{n.name} | {n.description}</label><br>
      {% endfor %}
    </fieldset>

    <div style="display: none">
      {% for n in tracks %}
      <input type="checkbox" id="{{ n }}" name="{{ 'T' ~ n }}" value="{{ n }}" checked></input>
      {% endfor %}
      <input type="text" id="playlist-name" name="playlist-name">
    </div>
    
    <input type="submit" value="Add Filtered Tracks To New Playlist">
  </form>

  <form method="POST" action="/new-playlist-to-spotify" id="filtering-form">
    <p> Pick a playlist to add to your Spotify:</p>
    <fieldset>
      <legend>Created Playlists</legend>
      {% for n in new_playlist_options %}
      <input type="radio" id="{{ loop.index }}" name="new-spotify-playlist" value="{{ n.len ~ n.description ~ n.name }}">
      <label for="{{ n.len ~ n.description ~ n.name }}">{n.name} | {n.description}</label><br>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Add New Playlist To Spotify">
  </form>

  <!-- current new_playlists here -> when one is added, create it and then remove it from new playlists-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="jquery.js"></script>
  <script>
    $(document).ready(function () {
      let options = ["album", "liked-by", "playlist", "artist", "mood", "genre"];
      options.forEach(function (option) {
        $("#" + option + "-options").hide();
      });
      $("#filtering-form").click(function () {
        options.forEach(function (option) {
          if ($("#" + option).is(":checked")) {
            $("#" + option + "-options").show();
            console.log("checked");
          } else {
            $("#" + option + "-options").hide();
            console.log("unchecked");
          }
        });

      });
    });


  </script>

</body>


</html>