<html>

<body>
    <p><a href="/">Home</a></p>
    <p>Get spotify recommendations for the below mood:</p>
    <form method="POST" action="/recommendations" >
        <fieldset style='height: 300px; overflow-y:auto'>
            {% for n in mood_options %}
            <input type="checkbox" id="{{ n }}" name="{{ loop.index }}" value="{{ n }}">
            <label for="{{ loop.index }}">{{ n }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Get recommendations">
    </form>

    <p>The below are now in the database on a new playlist called "Recommendations".</p>
    <div id="tracks" style='max-height: 800px; overflow-y:auto'>
        {% for n in tracks %}
        <p class="track" id="{{ n }}">{{ tracks[n].name }} / {% for a in tracks[n].artist %} {{ a }} | {% endfor %}</p>
        {% endfor %}
    </div>
   
</body>

</html>